* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 760px;
}

.header {
  display: flex;
}

.header h1 {
  width: 50%;
  margin-bottom: 0;
}

.header h1 a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.header span {
  text-align: right;
  width: 50%;
  margin-top: 5px;
  font-size: 12px;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

a.site-link {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

td,
th {
  padding: 0;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

pre {
  overflow: auto;
  font-family: monospace, monospace;
  font-size: 1em;
  border: 1px solid #999;
  page-break-inside: avoid;
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 1.42857143;
  color: #333;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
}

pre a {
  display: none;
  position: absolute;
  right: 10px;
  padding: 5px;
}

pre:hover a {
  display: inline-block;
}

ul.side-options {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
}

ul.side-options li {
  margin-right: 15px;
}

ul.side-options li:last-of-type {
  margin-right: 0;
}

/* Home */

.home-cont label {
  width: 100px;
  display: inline-block;
}

/* Filters */

.filters {
  margin: 10px 0 15px 0;
}

.filters tbody tr.inactive {
  background: #cccccc;
  opacity: 0.6;
}

.filter-controls {
  display: flex;
  align-items: flex-start;
}

.filter-controls select {
  width: 170px;
  margin-right: 10px;
}

.filter-controls .inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filter-controls input {
  width: 150px;
  margin-bottom: 5px;
}

.filter-controls.number input {
  width: 100px;
}

.filter-controls input:last-of-type {
  margin-bottom: 0;
}

/* Controls */

.input-control {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.input-control label {
  width: 100px;
}

.input-control .body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-control .body .grouping,
.input-control .body .sorter {
  line-height: 22px;
}

.input-control .body .grouping a,
.input-control .body .sorter a {
  margin-left: 30px;
}

.input-control select {
  min-width: 100px;
  margin-right: 10px;
}

/* Results */

.download-links a:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #000;
}

.result-field {
  margin-right: 10px;
  cursor: pointer;
}

/* Summary */

h3.summary {
  margin-bottom: 0;
}

.summary-stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.summary-stats p {
  width: 200px;
  margin-bottom: 0;
}

/* From Url */

.from-url-cont {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.from-url-cont p {
  text-align: center;
}

/* From Url */

.schema-edit-cont .rows {
  display: flex;
  align-items: flex-start;
}

.schema-edit-cont .rows pre {
  flex-basis: 20%;
  flex-grow: 1;
  margin-left: 15px;
}
