* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #fff;
}

pre {
  margin: 0 0 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 780px;
}

.toast-outer {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
}

.toast-inner {
  background: #A6D785;
  border-radius: 5px;
  padding: 5px 10px;
}

.header {
  display: flex;
}

.header h1 {
  width: 50%;
  margin-bottom: 0;
}

.header h1 a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.header span {
  text-align: right;
  width: 50%;
  margin-top: 5px;
  font-size: 12px;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

a:hover {
  color: #23527c;
  text-decoration: underline;
}

a.site-link {
  cursor: pointer;
}

table {
  border-spacing: 0;
  border-collapse: collapse;
  background-color: transparent;
}

td,
th {
  padding: 0;
}

th {
  text-align: left;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #ddd;
}

.table > thead:first-child > tr:first-child > th {
  border-top: 0;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

ul.side-options {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}

ul.side-options.right {
  justify-content: flex-end;
}

ul.side-options li {
  margin-right: 15px;
}

ul.side-options li.active {
  font-weight: bold;
}

ul.side-options li:last-of-type {
  margin-right: 0;
}

.checkbox-label {
  margin-right: 10px;
  cursor: pointer;
}

.drag-drop-area {
  width: 730px;
  height: 200px;
  border: 3px dashed #AAA;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea.paste {
  width: 730px;
  height: 350px;
}

/* Home */

.home-cont input[type=text].url {
  width: 500px;
}

.home-cont textarea.urlSchema {
  width: 730px;
  height: 200px;
}

/* Filters */

.filters {
  margin: 10px 0 15px 0;
}

.filters tbody tr.inactive {
  background: #cccccc;
  opacity: 0.6;
}

.filter-controls {
  display: flex;
  align-items: flex-start;
}

.filter-controls select {
  width: 170px;
  margin-right: 10px;
}

.filter-controls .inputs {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.filter-controls input {
  width: 150px;
  margin-bottom: 5px;
}

.filter-controls.number input {
  width: 100px;
}

.filter-controls input:last-of-type {
  margin-bottom: 0;
}

/* Controls */

.input-control {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}

.input-control label {
  width: 100px;
}

.input-control .body {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-control .body .grouping,
.input-control .body .sorter {
  line-height: 22px;
}

.input-control .body .grouping a,
.input-control .body .sorter a {
  margin-left: 30px;
}

.input-control select {
  min-width: 100px;
  margin-right: 10px;
}

/* Results */

.results-cont h3 {
  margin-bottom: 0;
}

.include-checkboxes {
  margin-top: 16px;
  display: flex;
}

.include-checkboxes .label {
  margin-right: 10px;
}

.include-checkboxes label {
  white-space: nowrap;
  display: inline-block;
}

.chart-options > * {
  margin-right: 10px;
}

.tableHeaderCell {
  cursor: pointer;
}

/* Summary */

.summary-cont h3 {
  margin-bottom: 0;
}

.summary-cont .stats {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end;
}

.summary-cont .stats p {
  width: 200px;
  margin-bottom: 0;
}

/* From Url */

.from-url-cont {
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.from-url-cont p {
  text-align: center;
}

/* Schema Edit */

.schema-edit-cont .rows {
  display: flex;
  align-items: flex-start;
}

.schema-edit-cont .rows pre {
  flex-basis: 20%;
  flex-grow: 1;
  margin-left: 15px;
}

/* Calculations */

.add-calculations-cont textarea.calculations {
  width: 750px;
  height: 250px;
}
